@charset "UTF-8";
/* CSS Document */

#bodyAdvies {
	background-color: rgba(0,0,0,1);
	background-image: url(../_images/bkgdall.png);
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-attachment: fixed;
	background-size: cover;
	line-height: 5px;
}
.logoBolAdvies {
	position: absolute;
	left: 15px;
	top: 168px;
	width: 126px;
	height: 125px;
	z-index: 26;
}
#sectionAdvies {
	position: absolute;
	left: 60px;
	top: 253px;
	width: 680px;
	z-index: 1;
	background-color: rgba(255,255,255,0.3);
	font-size: 12px;
	font-weight: lighter;
	line-height: 180%;
	border-radius: 0px 100px 0px 100px;
	padding: 1px 100pt 3% 110px;
	height: 2500px;
}
#sectionAdviesBR {
	position: absolute;
	left: 60px;
	top: 253px;
	width: 680px;
	z-index: 1;
	background-color: rgba(255,255,255,0.3);
	font-size: 12px;
	font-weight: lighter;
	line-height: 180%;
	border-radius: 0px 100px 0px 100px;
	padding: 1px 100pt 3% 110px;
	height: 2435px;
}
#sectionAdviesEng {
	position: absolute;
	left: 60px;
	top: 253px;
	width: 680px;
	z-index: 1;
	background-color: rgba(255,255,255,0.3);
	font-size: 12px;
	font-weight: lighter;
	line-height: 180%;
	border-radius: 0px 100px 0px 100px;
	padding: 1px 100pt 3% 110px;
	height: 2250px;
}



#bgAdvies {
	background-color: rgba(82,123,210,0.3);
	height: auto;
	width: 500px;
	position: absolute;
	top: 450px;
	left: 170px;
	border-radius: 50px;
	padding-left: 100px;
	padding-top: 15px;
	padding-right: 100px;
}
