.main-container{
   background-color: rgba(255, 255, 255, 0.3);
   max-width: 80rem;
 
}

.main-container #logo-img{
    max-width:10rem;
}

body{
    background-color: #050505;
    background-image: url(../_images/bkgdHome.png);
    background-size: cover;
    background-repeat: no-repeat;
}

nav{
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 1.5rem;
    max-height:100vh;
  
}
 
nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

}
nav li{
    list-style: none;
    padding:0.5rem;
    width: 100%;
    
        
}
nav li a{
    display:block;
}
nav li:hover{
    background-color: red;
}
nav a{
    color:rgb(204, 204, 204);
   text-decoration: none;
   width:100%;
}
.hamburger-icon{
  
}
@media(min-width:60rem){

};