*{
    margin:0;
    padding:0;
}


.main-container{
   background-color: rgba(255, 255, 255, 0.3);
   max-width: 80rem;
 
}

.main-container #logo-img{
   
    
}

body{
    background-color: #050505;
    background-image: url(../_images/bkgdHome.png);
    background-size: contain;
    background-repeat: no-repeat;
}

nav .container{
    background-color: rgba(228, 223, 223, 0.3);
    font-size: 1.5rem;
    display: flex;
    justify-content: right;
    justify-items: start;
    flex-direction: column;
    
}
 
.hamburger-icon{
    height: auto;
    max-width: 20%;
    margin:1rem;
    align-self: flex-end;
    
}
.navbar{
    display:flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width:60%;
    margin-left: 20%;

}
.navbar li{
    list-style: none;
    padding: 0.5rem;
    width: 100%;
    text-align: center;
    
    
        
}
nav li a{
  
}
nav li:hover{
    text-decoration:underline red 1px;
}
nav a{
    color:rgb(204, 204, 204);
   text-decoration: none;
   
}
nav .container .hamburger-icon{
  
}
@media(min-width:60rem){

};